<h1>Our Products:<h1>

<h2>handmade grains</h2>

<div id='prodGrid'>

{{#each products}}
	<p class='details'>{{name}}</p>
	<p class='details'>${{price}}.00/pound</p>
	<p class='details'>{{description}}</p>
	<p class='details' class='hidden'>{{inventory}}</p>
	<p class='details' class='hidden'>{{available}}</p>

	<form method="post" action='/post'>
		<p class='detail'>quantity: <input type='number' name'quantity'/></p>
		<button name='addCart' value='value' type='submit'>Add to Cart</button>
	</form>

{{/each}}

</div>