<!DOCTYPE HTML>
<html>

 <head>
 	<script src="prodListing.js"></script>
 </head>	


<body>

	<h1>Our Products:<h1>

	<h2>handmade grains</h2>

	<div id='prodGrid'>

		{{#each products}}
			<p>{{name}}</p>
			<p>${{price}}.00/pound</p>
			<p>{{description}}</p>
			<p>{{inventory}}</p>
			<p>{{available}}</p>

			<form method="post" action='/post'>
				<input type='hidden' name='itemName' value='{{name}}'/>
				<p>quantity: <input type='number' name='quantity'/></p>
				<button name='addCart' value='value' type='submit'>Add to Cart</button>

			</form>

		{{/each}}

	</div>

</body>